<div class="container editor">
  <div class="row row-edit">
    <div class="nav-edit col-lg-3">
      <div class="btn-update-back">
        <%= link_to 'BACK', dashboard_path, class: "link" %>
      </div>
    </div>
    <div class="content-form-animal col-lg-9">
      <div class="form-animal form-inline">
        <%= simple_form_for @animal, html: { multipart: true } do |f| %>
          <%= f.input :category, :label => 'CATEGORY : ' %>
          <%= f.input :gender, :label => 'GENDER : ' %>
          <%= f.input :age, :label => 'AGE : ' %>
          <%= f.input :stage, :label => 'STAGE : ' %>
          <%= f.input :health, :label => 'HEALTH : ' %>
          <%= f.input :price, :label => 'PRICE : ' %>
          <%= f.input :description, :label => 'DESCRIPTION : ' %>
          <%#= f.input :photo, as: :file, :label => 'PHOTO : ', input_html: { class: 'bouton-photo' } %>
          <div class="form-group file optional animal_photo">
            <label class="file optional" for="animal_photo">PHOTO :</label>
            <div class="label">
              <div class="import">IMPORT IMAGE</div>
              <input class="form-control-file file optional bouton-photo" type="file" name="animal[photo]" id="animal_photo">
            </div>
          </div>
          <div class="btn-up">
            <%= f.button :button, "CREATE ANIMAL", class: "link-up" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
