<div class="container">

<h1 class="animal-category"> <%= @animal.category %> </h1>

<div class="Product-Animal">
      <p>CATEGORY: <%= @animal.category %></p>
</div>


<div class="Picture">
   <%= @animal.photo %>
</div>


<div class="information"></div>
      <p>PRICE:    <%= @animal.price %></p>
      <p>AGE:      <%= @animal.age %></p>
      <p>STAGE:    <%= @animal.stage %></p>
      <p>GENDER:   <%= @animal.gender %></p>
      <p>HEALTH:   <%= @animal.health %></p>
      <p>SELLER:   <%= @animal.seller.user_name %></p>
</div>


<%= link_to 'BUY', animals_path %>

<%= link_to 'RETRUN TO CATALOGUE', animals_path %>
