<div class="container show-container">
  <div class="animal-container">
    <h1 class="animal-category"> CATEGORY: </h1>
    <span> <%= @animal.category.upcase %></span>
    <div class="Picture">
      <% if @animal.photo.attached? %>
        <%= cl_image_tag @animal.photo.key, height: 400, width: 600, crop: :fill %>
      <% end %>
    </div>
    <div class="btn-back">
      <%= link_to 'RETRUN TO CATALOGUE', animals_path, class: "back-catalogue"%>
    </div>
  </div>
  <div class="animal-container-list">
    <div class="information">
      <div class="content-price">
        <p id="price"> <%= number_with_delimiter(@animal.price, delimiter: ' ') %> BTC</p>
      </div>
      <p>AGE:        <%= @animal.age %></p>
      <p>STAGE:      <%= @animal.stage %></p>
      <p>GENDER:     <%= @animal.gender %></p>
      <p>HEALTH:     <%= @animal.health %></p>
      <p id="seller-name">SELLER:  <%= @animal.seller.user_name %></p>
      <div class="btn-buy">
        <div class="btn-link-buy link-buy" data-toggle="modal" data-target="#exampleModal">BUY</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MERCI POUR VOTRE ACHAT</h5>
      </div>
      <div class="modal-body">
        LE VENDEUR CONFIRMERA VOTRE ACHAT SOUS 48H
      </div>
      <div class="btn-back lolo">
        <%= link_to 'RETRUN TO CATALOGUE', animals_path, class: "back-catalogue"%>
      </div>
    </div>
  </div>
</div>
