<div class="container dashboard">
  <div class="row dashboard-row">
    <div class="nav col-lg-3">
      <ul>
        <li id="marb"><%= link_to "CREATE NEW SELL", new_animal_path, class: 'un inactive-d' %></li>
        <li><div class="deux inactive-d">VENTE EN COURS</div></li>
        <!-- <li class="trois inactive-d">VENTE A CONFIRMER</li> -->
        <li class="quatre inactive-d">HISTORIQUE DE VENTE</li>
        <li id="mart"><%= link_to "DECONNECTION", destroy_seller_session_path, class: 'cinq inactive-d' %></li>
      </ul>
    </div>
    <div class="list col-lg-9">
      <ul>
        <% @animals.each do |animal| %>
          <div class="row card-row">
            <div class="content-card col-lg-4">
              <h2>CATEGORY : <%= animal.category %></h2>
              <p>GENDER : <%= animal.gender %></p>
              <p>AGE : <%= animal.age %></p>
              <p>HEALTH : <%= animal.health %></p>
              <p>STAGE : <%= animal.stage %></p>
            </div>
            <div class="content-card col-lg-6">
              <p>PRICE : <%= animal.price %></p>
              <p>DESCRIPTION : <%= animal.description %></p>
              <div class="content-img">
                <% if animal.photo.attached? %>
                <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              </div>
            </div>
            <div class="content-card col-lg-2">
              <div class="btn">
                <%= link_to "EDIT",edit_animal_path(animal), class: "link" %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
